body{
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 0;
    margin-right: auto ;
    margin-bottom: 0 ;
    margin-left: auto;
    width: 12vw;
    min-height: calc(100vh - 100px);
}

hr, section{
    width: 20%;
}